.loading-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
}

.container {
    width: 1300px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}