
<div *ngIf="selectedCard" class="bg-[#191919]">
    <div class="container">
        <button class="back-btn text-white main_font py-4" routerLink="/library" >
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-10 md:h-10" viewBox="0 0 24 24" fill="#FFDFAC">
                <path d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z"/>
                <path d="M13.293 7.293 8.586 12l4.707 4.707 1.414-1.414L11.414 12l3.293-3.293-1.414-1.414z"/>
            </svg>                                    
        </button>
        <div class="flex flex-col">
            <div class="flex justify-around items-start gap-8 main_font min-[320px]:flex-col min-[320px]:items-center lg:flex-row lg:items-start">
                <img class="max-w-[40%] w-[200px] rounded min-[320px]:pt-4 lg:pt-16" [src]="selectedCard.image" alt="card-image">
                <mat-card class="example-card">
                    <mat-card-content>
                        <div class="flex flex-1 flex-col justify-center  gap-6">
                            <h2 class="flex justify-center text-9xl">{{selectedCard.name}}</h2>
                            <p class="text-lg text-white" >{{selectedCard.meanings.upright.general}}</p>             
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="flex flex-col gap-6 pb-4">
                <div class="flex flex-col gap-4 justify-center">
                    <h2 class="flex justify-center main_font">Upright meanings</h2>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">Love</div>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.upright.love}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="main_font">
                            <div class="text-lg main_font">
                                Work
                            </div>  
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent class="main_font">
                            <div class="text-base">
                                {{selectedCard.meanings.upright.work}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="main_font">
                            <div class="text-lg main_font">
                                Friendship
                            </div>                          
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent class="main_font">
                            <div class="text-base">
                                {{selectedCard.meanings.upright.friendship}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="main_font">
                            <div class="text-lg main_font">
                                Personal State
                            </div>                          
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.upright.personal_state}}
                            </div>                               
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">
                                Deeper Meaning
                            </div>                            
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.upright.deeper_meaning}}
                            </div>                           
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">
                                Finance home
                            </div>                           
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.upright.finance_home}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">
                                Personal Relationships
                            </div>                           
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.upright.personal_relationships}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">
                                Health
                            </div>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.upright.health}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                </div>
                <div class="flex flex-col gap-4 justify-center">
                    <h2 class="flex justify-center main_font">Reversed meanings</h2>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">Love</div>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.reversed.love}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">
                                Work
                            </div>  
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.reversed.work}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">
                                Friendship
                            </div>                          
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.reversed.friendship}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">
                                Personal State
                            </div>                          
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.reversed.personal_state}}
                            </div>                               
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">
                                Deeper Meaning
                            </div>                            
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.reversed.deeper_meaning}}
                            </div>                           
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">
                                Finance home
                            </div>                           
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.reversed.finance_home}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">
                                Personal Relationships
                            </div>                           
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.reversed.personal_relationships}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="text-lg main_font">
                                Health
                            </div>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="text-base">
                                {{selectedCard.meanings.reversed.health}}
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
        <div class="flex justify-center pb-4">
            <button routerLink="/library" mat-raised-button class="flex justify-center items-center align-center max-w-48 main_font lg:text-lg lg:py-4 lg:px-4 border-0 rounded bg-teal-900 md:px-4 md:py-4 min-[320px]:px-6 min-[320px]:py-3 min-[320px]:text-base min-[320px]:leading-tight">Back to the Library</button>
        </div>
    </div>
</div>
