<div class="owncards-wrapper full-w bg-[#191919]">
    <div appScrollAnimation [rootMargin]="'350px'" class="main_font flex items-center justify-center text-8xl py-16 lg:text-7xl md:text-5xl sm:text-5xl min-[320px]:text-2xl min-[320px]:py-6" >
        <img class="full-w h-[60%]" src="assets/magremovebd.png" alt="">
        <div class="flex items-start justify-center flex-col">
            <span>Get an interpretation</span>
            <span>of your spread!</span>
        </div>
    </div>
</div>
