/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  max-width: 1300px;
  display: block;
  margin: 0 auto;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-flow: column wrap;

}

.main_font {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFDFAC;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}
  
.fadeIn {
    animation: fadeIn 1s ease-in-out;
}
  
